{{> base-header}}
{{> base-neck}}

<div id="title-block"></div>
<div id="capture-button"></div>

<!-- scripts  -->
<script type="text/javascript" src="js/index-bundle.js"></script>

{{> base-footer}}
