@import 'theme';

$secondary-danger: #ed7669;
$secondary-info: #5faee3;
$secondary-warning: #f5b043;
$secondary-success: #24e3be;

.myCRT-env-navbar {
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #3498DB;
}

.myCRT-danger-label {
    color: #E74C3C;
}

.myCRT-card {
    border: 1px solid #2C3E50;
}

.myCRT-env-card {
    background-color: #3498DB;
    color: white;
}

.myCRT-tab-pane {
    margin-bottom: 20px;
}

.myCRT-overflow-col {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 800px;
    background-color: #ecf0f1;
    border-radius: 20px;
    border: 1px solid #dee2e6;
    padding: 0px 20px 20px;
}

.myCRT-empty-col {
    margin: 0;
    vertical-align: middle;
    margin-top: 20px;
    text-align: center;
    color: #7b8a8b;
}

.myCRT-panel-running {
    background-image: none;
    background-color: #18BC9C;
    color: white;
}

.myCRT-panel-scheduled {
   background-image: none;
   background-color: #F39C12;
   color: white;
}

.myCRT-panel-failed {
   background-image: none;
   background-color: #E74C3C;
   color: white;
}

%myCRT-status {
   padding: 0;
   text-align: center;
   color: #ecf0f1;
}

.myCRT-status-running {
   @extend %myCRT-status;
   background-color: $secondary-success;
}

.myCRT-progress-bar {
   background-color: $secondary-success;
}

p {
   margin-bottom: 0.7em;
}

.graphName {
   padding-left: 20px;
   display: inline;
}

.graph {
   padding-top: 20px;
}

.deleteBtn {
   margin-bottom: 20px,;
   margin-left: 12px;
}

.downloadBtn {
   margin-bottom: 10px;
   margin-left: 10px;
}

.align {
   display: inline;
}

.hover-text:hover {
   color: #2C3E50;
   cursor: pointer;
}

.myCRT-status-failed {
   @extend %myCRT-status;
   background-color: $secondary-danger;
}

.myCRT-status-scheduled {
   @extend %myCRT-status;
   background-color: $secondary-warning;
}

.myCRT-status-past {
   @extend %myCRT-status;
   background-color: $secondary-info;
}

.myCRT-multi-select {
    border: 2px solid #ccc;
    width: 250px;
    height: 150px;
    overflow-y: scroll;
    margin-left: 20px;
    margin-top: 15px;
}

.myCRT-modal-header {
    background-color: #3498DB;
    color: white;
}

.myCRT-modal-danger {
    background-color: #E74C3C;
    color: white;
}

.myCRT-modal {
    border: 0;
}

.hidden {
    display: none;
}
