@import 'theme';

.myCRT-panel:hover {
    cursor: pointer;
}

.myCRT-card-header {
    background-image: none;
    background-color: #18BC9C;
    color: white;
}

.myCRT-duration-unit {
    float: left;
    width: 20%;
    margin-left: 20px;
}

.myCRT-modal-header {
    background-color: #3498DB;
    color: white;
}

.myCRT-modal {
    border: 0;
}

.hidden {
    display: none;
}
