@import 'common';

.jumbotron {
    background-image: url('https://i.imgur.com/cGdSvj1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        text-align: center;
    }
}
